<% provide :title, t("static_pages.contact.contact") %>
<h1><%= t "static_pages.contact.contact" %></h1>
<p>
  <%= t "static_pages.contact.contact_ruby" %>
  <a href="http://www.railstutorial.org/contact"><%= t "static_pages.contact.contact_page" %></a>.
</p>
