<% if object.errors.any? %>
  <div class = "error_explanation">
    <div class = "alert alert-danger">
      <%= t "shared.error.the_form_contains" %>
      <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
